*   {
    margin: 0;
    padding: 0;
}
body    {
    background: paleturquoise;
}
.tap    {
    position: absolute;
    z-index: 2;
}
.drop   {
    position: absolute;
    left: 175px;
    z-index: 1;
    animation: drop 1s ease-in infinite;
}
.spill  {
    position: absolute;
    top: 200px;
}
.circle {
    position: absolute;
    z-index: 1;
    top: 300px;
}
.raise1 {
    animation: circle 1s 1s infinite;
}
.raise2 {
    animation: circle 1s 1.1s infinite;
}
@keyframes drop {
    from {top:100px}
    to {top: 400px}
}
@keyframes circle {
    from {r: 0;}
    to {r: 400;}
}